<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="app">
    <h1 class="text-center">My little to do app!</h1>

    <div id="todo" class="col-xs-6 col-xs-offset-3" ng-controller="MainCtrl">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Item to add to todo list" ng-model="newItem">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="addItem()">
              Add
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
          </span>
        </div><!-- /input-group -->
      </form>
      <h2>stuff i gotta do asap</h2>
      <button id="editorBtn" class="pull-right btn btn-default" type="button" ng-click="toggleEditMode()">{{editmode ? 'Done' : 'Edit Todo List'}}</button>
      <br>
      <br>
      <ul class="list-group">
        <!-- http://www.w3schools.com/css/css_float.asp -->
        <li class="list-group-item clearfix" ng-repeat="do in todos">
          <span ng-attr-contenteditable="{{ editmode }}">{{do.text}}</span>
          <button class="btn btn-danger pull-right" type="button" ng-click="deleteItem($index)">
            <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
          </button>

          <!-- Complete Button -->
          <button class = "btn btn-success pull-right" type="button" ng-click="completeItem($index)">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
          </button>
        </li>
      </ul>

      <!-- Completed Items List -->
      <h2>
        Completed Items
      </h2>
      <ul class="list-group" id="complete">
        <li class="list-group-item clearfix" ng-repeat="el in completeItems">
        <span>{{el.text}}</span>
        </li>
      </ul>
      <!-- Clear Completed Items Button -->
      <button class="btn btn-danger" type="button" ng-click="clearCompletedItems()">
        Clear Completed Items
      </button>

    </div>

  </body>

</html>
